<div class="personal">
    <h4>Personal <i class="bi bi-arrow-down-circle"></i></h4>
    <div class="personal-container">
        <label for="firstname">firstname</label>
        <input type="text" name="firstname" id="" placeholder="firstname...">


        <label for="lastname">lastname</label>
        <input type="text" name="lastname" id="" placeholder="lastname...">


        <label for="address">address</label>
        <input type="text" name="address" id="" placeholder="address...">

        <label for="phone">phone</label>
        <input type="text" name="phone" id="" placeholder="phone...">

        <label for="email">email</label>
        <input type="text" name="email" id="" placeholder="email...">
    </div>
</div>

<button class="show-details">
    Show details
</button>